body,h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif
}

.w3-sidenav a,.w3-sidenav h4 {
  font-weight:bold
}


@charset "UTF-8";
/* CSS Document */

body, li, nav, div, form, ul, h1, h2, h3, h4, p {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Helvetica, sans-serif;
}
#wrapper {
	background-image: url(../img/icons/black_box.png);
	background-repeat: repeat-y;
	background-position: left top;
}


body {
	font-family: Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}


#nav {
	height: 800px;
	width: 250px;
	margin-right: 30px;
	padding-left: 75px;
	position: fixed;
	text-align: right;
}
#nav li a{
	color: #010101;
	text-decoration: none;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 26px;
	text-align: right;
	padding-right: 15px;
}
#nav a:hover {
	color: #ff3700;
}

h1 {
	margin-bottom: 8px;
	font-size: 38px;
	margin-top: 14px;
}

h2 {
	margin-bottom: 10px;
}

h3  {
	font-size: 16px;
	margin-top: 25px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 3px;
}

.content {
	width: 700px;
	background-color: #FFFFFF;
	float: inherit;
	margin-top: 20px;
	padding-left: 450px;
	font-family: Helvetica, sans-serif;
	margin-bottom: 40px;
}
.content  li {
	list-style-type: none;
	padding: 0px;
	font-size: 14px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 0px;
}

#shows li {
	margin-bottom: 15px;
	margin-left: 25px;
	font-size: 18px;
	line-height: 1.5em;
}
#shows ul {
	margin-top: 20px;
}

.fltLt {
	float: left;
	margin-right: 15px;
}
.clear {
	clear: both;
}
#nav li {
	list-style-type: none;
}
#footer {
	height: 200px;
	width: 700px;
	padding-left: 365px;
	float: left;
}
#footer ul li a {
	color: #333;
}
#footer ul {
	list-style-type: none;
}
#footer li {
	display: inline;
}
#copyright {
	float: left;
	height: 45px;
	width: 200px;
	color: #717171;
	font-size: 12px;
	font-weight: bold;
	padding-top: 11px;
}
#footer ul {
	float: right;
	height: 65px;
	width: 200px;
}
#nav ul .social a img {
	border-radius: 22px;
	margin-bottom:0px;
}


#nav ul .social a img:hover {
	background-color : #FF2436;

	}


.content .topStory {
	width: 700;
	float:none;
}
.content.disco img{
	height: auto;
	width: 300px;
	border: 1px solid #181818;
	margin-bottom: 20px;
}
.content.disco ul {
	clear: both;
}
.content.disco li {
	font-size: 14px;
	padding-bottom: 25px;
	margin-bottom: 25px;
	float: inherit;;
	height: 315px;
	width: 350px;
	text-transform: uppercase;
}
.content p {
	font-size: 14px;
	line-height: 1.3em;
}
.content a {
	color: #333333;
  text-decoration: none;
}
.content a:hover, #footer a:hover {
	color: #ff3700;
}



div.vid_ind {
	margin-bottom: 50px;
}
.content.disco h3{
	width: 700px;
	margin-bottom: 14px;
	font-size: 35px;
	float: left;
	font-weight: 900;
	line-height: 0.9em;
	}


#content #extra_discs li {
	float: left;
	height: 0px;
}


.with {
	font-size: 14px;
	color: #FF2436;
	line-height: 1.2em;
	font-weight: bold;
	}
.content ul li strong {
	font-size: 16px;
}

hr {
    color: #fff;
    margin-bottom: 22px;
}

div.news_post{
	margin-bottom: 22px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #333;
	padding-bottom: 22px;
	}
.news_post h2 {
	text-transform: uppercase;
}
.news_post {
}
.post_dates {
	font-size: 12px;
	line-height: 1.25em;
}
.news_post h2 {
}


a:hover {color:#ff3700;}
.content .bands p {
	margin-bottom: 25px;
}
#footer ul .social a img {
	height: 30px;
	width: 30px;
}
#footer ul.inline {
	font-size: 12px;
	width: 280px;
	padding-top: 10px;
}
.news_post h3 {
	line-height: 1.3em;
}



@media screen
and (max-width: 800px)

 {


    #nav { position: relative;
    margin:auto;
    margin-right:auto;
    text-align:center;
    height:auto;
    }
    #nav li.social a {
	display:none;
}
 #nav li a {line-height:45px;}


    .content {padding-left:10%;
              padding-right:10%;
		    width:auto;}
   #footer {width:auto;}




}


/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {




    #nav { position: relative;

    text-align:left;
    height:auto	;
    }

     #nav li a {line-height:45px;
	font-size:35px;}

     #nav li.social a {
	display:none;
     }

    .content {padding-left:10%;
              padding-right:10%;
		    width:auto;}
   #footer {width:auto;}



}
